<form action="/square_root/results">
  <div>
    <label for="rooted">
      Enter a number
    </label>

    <input id="rooted" text="text" name="number" placeholder="Square root this number">
  </div>

  <button>
    Calculate square root
  </button>
</form>
