<form action="/square/results">
  <div>
    <label for="squared">Enter a number</label>
  </div>
  <div>
    <input type="text" name="number" id="squared" placeholder="Pick a number, any number">
  </div>
  <button>Calculate square</button>
</form>
