<form action="/random/results">
  <div>
    <label for="min_random">
      Minimum
    </label>

    <input id="min_random" text="text" name="user_min" placeholder="e.g. 2.7">
  </div>

  <div>
    <label for="max_random">
      Maximum
    </label>

    <input id="max_random" text="text" name="user_max" placeholder="e.g. 8.2">
  </div>

  <button>
    Pick random number
  </button>
</form>
